bin/board.o
bin/bot.o
bin/logic.o
bin/main.o
bin/menu.o
bin/network.o
bin/pieces.o
release/linux/chess
release/linux/assets/pieces/bb.png
release/linux/assets/pieces/bk.png
release/linux/assets/pieces/bn.png
release/linux/assets/pieces/bp.png
release/linux/assets/pieces/bq.png
release/linux/assets/pieces/br.png
release/linux/assets/pieces/wb.png
release/linux/assets/pieces/wk.png
release/linux/assets/pieces/wn.png
release/linux/assets/pieces/wp.png
release/linux/assets/pieces/wq.png
release/linux/assets/pieces/wr.png
release/windows/assets/pieces/bb.png
release/windows/assets/pieces/bk.png
release/windows/assets/pieces/bn.png
release/windows/assets/pieces/bp.png
release/windows/assets/pieces/bq.png
release/windows/assets/pieces/br.png
release/windows/assets/pieces/wb.png
release/windows/assets/pieces/wk.png
release/windows/assets/pieces/wn.png
release/windows/assets/pieces/wp.png
release/windows/assets/pieces/wq.png
release/windows/assets/pieces/wr.png
chess
